/*-----------------Base.html-----------------*/

ul{
    margin-bottom: 0;
}

nav{
    background-color: #801a2f;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items{
    display: flex;
}

.items, .logo{
    list-style: none;
}

.logo img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.items a, .logo a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px;
}

.items a:hover{
    text-decoration: none;
    color: white;
    background-color: #a6344c;
    transition: all .4s ease;
}

.footer{
    background-color: #333;
    padding: 70px;
    display: flex;
    justify-content: space-around;
    color: white;
}

.footer .about{
    display: flex;
    flex-direction: column;
}

.footer a{
    text-decoration: none;
    color: white;
}

.footer a:hover{
    text-decoration: underline;
    color: #aaa;
    transition: all .4s ease;
}

.social{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.footer a img {
    width: 50px;
}

footer{
    background-color: #333;
    color: white;
    padding: 10px;   
    text-align: center;
    border-top: 1px solid #ccc;
}
/*----------------------------------*/

/*-----------------index.html-----------------*/
.form-search{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.form-search img{
    width: 50px;
}

.div-form{
    width: 70%;
    display: flex;
}

.btn-color{
    color: #a6344c;
    border: 1px solid #a6344c;
}

.btn-color:hover{
    background-color: #a6344c;
    color: white;
    transition: all .4s ease;
}

.form-control{
    width: 50%;
}

.form-control:focus{
    box-shadow: none;
    border: 1px solid #a6344c;
}

.cards{
    width: 70%;
    margin-top: 30px;
}

.cards .btn-dark{
    width: 100%;
    text-align: center;
}

.cards .card{
    margin-bottom: 20px;
}

/*----------------------------------*/

/*-----------------signin.html-----------------*/

.form-signin{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 80px;
    padding: 30px;
    border-radius: 5px;
    background-color: #222;
    color: white;
    margin-bottom: 80px;
}

#id_username, #id_password{
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#id_username, #id_password{
    border: 1px solid #999;
    box-shadow: none;
    outline: none;
}

.h2-signin{
    text-align: center;
}
/*----------------------------------*/

/*-----------------signup.html-----------------*/
.form-signup .helptext, .form-signup ul{
    display: none;
}

.form-signup{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 40px;
    padding: 30px;
    border-radius: 5px;
    background-color: #222;
    color: white;
    margin-bottom: 40px;
}

#id_username, #id_password1, #id_password2, #id_rut{
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.checkbox{
    display: flex;
    margin-bottom: 30px;
}

#notificacion{
    margin-right: 10px;
}

.h2-signup{
    text-align: center;
}

#id_username:focus, #id_password1:focus, #id_password2:focus, #id_rut:focus{
    border: 1px solid #999;
    box-shadow: none;
    outline: none;
}

/*----------------------------------*/

.error-mssg {
    color: red;
}

/*-----------------mediaqueries-----------------*/
@media (min-width: 100px) and (max-width: 768px) {
    .img-publicar{
        margin-bottom: 30px;
    }
    
    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .items{
        display: block;
        width: 100%;
        text-align: center;
    }

    ul{
        padding: 0;
        margin: 0;
    }

    .form-search{
        display: flex;
        flex-direction: column; 
    }

    .form-search{
        text-align: center;
    }

    .form-search .div-form{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-top: 10px;
    }

    .form-control{
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .btn-color{
        width: 50%;
        margin: auto;
    }

}  

/*----------------------------------*/