{% extends "base.html" %}
{% load static %}


{% block content %}

    <form class="d-flex form-search" role="search">
        {% if user.is_authenticated and usuario %}
            <a href="{% url "post_product" %}"><img src="{% static 'img/signo_positivo.jpeg' %}" alt=""></a>
        {% else %}
            <div class="fill"></div>
        {% endif %}
        <div class="div-form">
            <input class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Search">
            <button class="btn btn-color" type="submit">Buscar</button>
        </div>
        
    </form>

    <div class="container cards">
        <div class="row">
            {% for producto in productos  %}
            
            <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <img src="{{producto.imagen.url}}" class="card-img-top img-publicar" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{producto.nombre}}</h5>
                            <p class="card-text">{{producto.descripcion}}</p>
                            <h5 class="card-title">$ {{producto.precio}}</h5>
                            {% if user.is_authenticated and usuario %}
                                <a href="{% url 'eliminarProd' producto.id %}" class="btn btn-danger btn-eliminar">Eliminar</a>
                                <a href="{% url 'editarProd' producto.id %}" class="btn btn-primary btn-editar">Editar</a>
                            {% endif %}
                            <a href="{% url 'product' producto.id %}" class="btn btn-dark">Ir a oferta</a>
                        </div>
                    </div>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}