{% extends "base.html" %}
{% load static %}


{% block content %}

    <form class="d-flex form-search" role="search">
        <a href=""><img src="{% static 'img/signo_positivo.jpeg' %}" alt=""></a>
        <div class="div-form">
            <input class="form-control me-2" type="search" placeholder="Buscar producto" aria-label="Search">
            <button class="btn btn-color" type="submit">Buscar</button>
        </div>
        
    </form>

    <div class="container cards">
            <!--Fila-->
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin fila-->

            <!--Fila-->
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin fila-->

            <!--Fila-->
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-12">
                    <div class="card">
                        <img src="{% static 'img/logo.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fin fila-->
    </div>

{% endblock %}