{% extends "base.html" %}
{% load static %}

{% block content %}

<h2 class="h2-main">Mis ofertas</h2>

<div class="container-fluid container-main">
    <p> ¡Aprovecha las Mejores Ofertas del Día!</p>
    <p>Descubre ofertas especiales en productos perecibles y no perecibles y ayuda a reducir el desperdicio.</p>
    <p>Encuentra ofertas de productos con fecha de vencimiento inminente. Compra a precios rebajados.</p>
    <p>Ahorra en Productos Frescos: Encuentra alimentos a precios reducidos.</p>
    <p>Unete a nuestra comunidad y comienza a disfrutar de ofertas. ¡Es fácil y rápido!</p>
    <a class="btn btn-dark btn-main" href="{% url "signup" %}">Regístrate para Ofertas Exclusivas</a>
</div>
{% endblock %}
