{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="row center">
        <div class="col-md-6 col-xs-12">
            <div class="card">
                <img src="{{producto.imagen.url}}" class="card-img-top img-publicar" alt="">
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <h2 class="margin" style="font-style:italic; border-bottom: 1px solid black; text-align:center;">Mis Ofertas</h2>
            <div class="card-body">
                <h5 class="card-title margin">{{producto.nombre}}</h5>
                <p class="card-text margin">{{producto.descripcion}}</p>
                <h5 class="card-title margin">$ {{producto.precio}}</h5>
            </div>

            <div>
                <h5 class="card-title margin" style="margin-top: 10px;">Valorizar</h5>
                <select name="" id="">
                    <option value="">Excelente</option>
                    <option value="">Buena</option>
                    <option value="">Mala</option>
                </select>

            </div>
            <a style="margin-top: 10px;" href="{% url 'home' %}" class="btn btn-dark">Volver</a>
        </div>
    </div>
{% endblock %}